@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SEPM Tool</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">SEPM Tool Initial Commit </a>.</p>
</div>
