@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <link href="~/dist/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
</head>

<div class="main-container fullscreen">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-7">
                <div class="text-center">
                    <h1 class="h2">Create an Account</h1>
                    <p class="lead">Start Managing Your Software Projects Today</p>
                    <div class="text-left">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                    <hr>
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="form-group">
                            <label class="float-left">First Name</label>
                            <input asp-for="Input.FirstName" class="form-control" placeholder="First Name" />
                        </div>
                        <div class="form-group">
                            <label class="float-left">Last Name</label>
                            <input asp-for="Input.LastName" class="form-control" placeholder="Last Name" />
                        </div>
                        <div class="form-group">
                            <label class="float-left">Email</label>
                            <input asp-for="Input.Email" class="form-control" placeholder="Email Address" />
                        </div>
                        <div class="form-group">
                            <label class="float-left">Password</label>
                            <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <label class="float-left">Confirm Password</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                        </div>
                        <button class="btn btn-lg btn-block btn-primary" role="button" type="submit">
                            Create account
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_JsScriptsPartial" />
}
